* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: 'Tektur', sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  background-color: #242424;
  --tg-bar-height: var(--tg-content-safe-area-inset-top);
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  color: #ffffff;
}
body {
  overflow: hidden;
}
